body
{
    background-color: #0B120B;
}

.menu ul
{
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.row
{
    margin: 0;
    height: 600px;
}

.menu ul li
{   
    padding: 10px 0;
}

.burger
{
    padding: 0;
    margin-bottom: 20px;
}

.menu ul li img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu ul li a
{
    text-decoration: none;
    font-size: 12px;
    color: grey;
}

.menu ul li:hover
{
    background-color: rgba(109, 155, 109, 0.3);
}

.active
{
    background-color: rgb(75, 169, 75);
}

.active b
{
    color: rgb(53, 50, 205);
}

.name-menu
{
    background-color:  #192319;
    padding: 0;
}

.search
{
    width: 300px;
    outline: none;
    border-radius: 5px;
    background-color: #324f32;
    border: none;
    color: #fff;
    height: 30px;
    display: inline;
    margin-top: 10px;
    padding: 5px;
    margin-left: 10px;
}

.lock
{
    margin-left: 5px;
}

.lists
{
    padding: 0;
    list-style-type: none;
    margin-top: 25px;
    height: 575px;
    overflow: auto;
}


/* width */
.lists::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.lists::-webkit-scrollbar-track {
    background: #252e24; 
  }
   
  /* Handle */
.lists::-webkit-scrollbar-thumb {
    background: rgb(81, 255, 0); 
    border-radius: 50px;
  }

.lists li
{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}

.lists li:hover
{
    background-color: rgba(109, 155, 109, 0.3);
}


.list-img img
{
    border-radius: 50%;
    margin-right: 5px;
}

.names b
{
    font-size: 15px;
    color: thistle;
    display: flex;
    margin-top: 10px;
}

.names b::before
{
    content: '';
    background-image: url(images/megaphone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-right: 5px;
}

.names p
{
    font-size: 13px;
    color:thistle;
    margin-top: 2px;
}

.active-1
{
    background-color: rgb(75, 169, 75);
}

.box-2
{
    background-color: #192319;
}

.box-2::after
{
    content:"";
    background-image: url(images/pin.svg);
    background-size: cover;
    width: 22px;
    height: 22px;
    margin-left: 60px;
    cursor: pointer;
}

.box,.box-2,.box-4
{
    cursor: pointer;
}

.list-1
{
    height: 505px;
}

/* width */
.list-1::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.list-1::-webkit-scrollbar-track {
    background: #252e24; 
  }
   
  /* Handle */
.list-1::-webkit-scrollbar-thumb {
    background: rgb(4, 0, 255); 
    border-radius: 50px;
  }

.message
{
    width: 400px;
    background-color: #131D12;
    border-radius: 5px 5px 5px 0;
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
}

.triangle
{
    border-bottom: 15px solid #131D12;
    border-left: 15px solid transparent;
    position: absolute;
    left: -15px;
    bottom: calc(50% - 350px);
}

.triangle1
{
    border-bottom: 15px solid #131D12;
    border-left: 15px solid transparent;
    position: absolute;
    left: -15px;
    bottom: calc(50% - 336px);
}

.triangle2
{
    border-bottom: 15px solid #131D12;
    border-left: 15px solid transparent;
    position: absolute;
    left: -15px;
    bottom: calc(50% - 216px);
}

.box-4
{
    height: 38px;
    background-color: #192319;
    padding-top: 5px;
}
/* +++++++++++++++++++++++++++++++++++++++++ */

.col-3
{
    background-color:#111810;
    padding: 0;
}

.close:hover
{
    fill: rgb(139, 197, 197);
    cursor: pointer;
}

.list-img1 img
{
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.line
{
    height: 8px;
    background-color: #192218;
    margin-top: 15px;
}

.line-1
{
    width: 270px;
    height: 1px;
    background-color: rgb(38, 38, 38);
    margin-left: 70px;
    margin-top: 20px;
}

/* ========================== */

.bell
{
    margin-left: 12px;
    margin-right: 12px;
}

.check
{
    display: inline-block;
    width: 36px;
    height: 18px;
    background-color: rgb(13, 60, 15);
    border-radius: 20px;
    margin-left: 120px;
}

.elips
{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 18px;
    border: 1px solid rgb(4, 119, 4);
    transition:all 0.2s ease;
}

.check:active .elips
{
    margin-left: 0;
    border: 1px solid rgb(255, 255, 255);
}

.check:active
{
    background-color: #fff;
}

/* ======================= */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:   #111810 ;
    /* min-width: 350px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .col_3
  {
    background-color: #111810;
    transform: scale(0.99);
    
  }